.productos {
    text-align: center;
    margin-top: 8px;
}

.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.producto {
    border: 1px solid #082978;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    background: rgb(146, 200, 207);
    box-shadow: 0 2px 4px rgba(4, 23, 100, 0.1);
    
}


.producto img {
    width: 100%;
    border-radius: 5px;
}
